<nav class="navbar is-light" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <img
        src="<%= asset_path("riw_logo_nav.png") %>"
        alt="Rooted In Winnipeg"
        class="nav-logo"
      >
      <span class="ml-2 has-text-weight-bold">Rooted In Winnipeg</span>
    <% end %>

  </div>

  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: "navbar-item" %>
      <%= link_to "Products", products_path, class: "navbar-item" %>
      <%= link_to "About", about_path, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to "Cart", cart_path, class: "navbar-item" %>
        <%= link_to "Account", account_path, class: "navbar-item" %>
        <%= link_to "My Orders", orders_path, class: "navbar-item" %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "navbar-item" %>
        <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-item" %>
      <% else %>
        <%= link_to "Cart", cart_path, class: "navbar-item" %>
        <%= link_to "Login", new_user_session_path, class: "navbar-item" %>
        <%= link_to "Sign up", new_user_registration_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
