<section class="section">
  <div class="container">
    <h1 class="title is-3">My Cart</h1>

    <% if @cart_items.any? %>
      <div class="table-container">
        <table class="table is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Product</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Line Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |item| %>
              <tr>
                <td><%= link_to item[:product].display_common_name, product_path(item[:product]) %></td>
                <td><%= number_to_currency(item[:product].price) %></td>
                <td>
                  <%= form_with url: cart_item_path(item[:product]), method: :patch, local: true, class: "is-flex is-align-items-center" do |form| %>
                    <div class="field has-addons mb-0">
                      <div class="control">
                        <%= form.number_field :quantity, value: item[:quantity], min: 1, max: item[:product].stock, class: "input is-small", style: "width: 5rem;" %>
                      </div>
                      <div class="control">
                        <%= form.submit "Update", class: "button is-small is-info is-light" %>
                      </div>
                    </div>
                    <p class="help">In stock: <%= item[:product].stock %></p>
                  <% end %>
                </td>
                <td><%= number_to_currency(item[:line_total]) %></td>
                <td>
                  <%= button_to "Remove", cart_item_path(item[:product]), method: :delete, class: "button is-small is-danger is-light" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <p class="title is-5 mt-4">Subtotal: <%= number_to_currency(@subtotal) %></p>
      <%= link_to "Proceed to Checkout", checkout_path, class: "button is-link mt-2" %>
    <% else %>
      <div class="notification is-light">
        Your cart is empty.
      </div>
      <%= link_to "Browse Products", products_path, class: "button is-link is-light" %>
    <% end %>
  </div>
</section>
