<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Rooted In Winnipeg" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rooted In Winnipeg">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="csrf-param" content="<%= request_forgery_protection_token %>">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="<%= stylesheet_path("application") %>" data-turbo-track="reload">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="section pt-4 pb-0">
      <div class="container">
        <%= render "shared/flash_messages" %>
      </div>
    </div>
    <%= yield %>
    </body>
  </html>
